<?php
$nom_club     = "Nom du club";
$numero_club  = "XX.XX.XXXX";
$adresse_club = "Adresse du club\nCode postal Ville";
$logo_club    = "logo_club.png";

$epreuve_month_count = 60;
$epreuve_month_count_warn = 55;
$tiv_month_count = 12;
$tiv_month_count_warn = 11;
?>
